{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
<div class="container">
    <div class="navbar">
      <img src="{% static 'blog/images/logo.svg' %}" alt="Logo" class="logo">
        {% for elem in main_menu %}
        {%if elem.url == menu_selected%}
        <p class = 'nav-links-active'>
            {{ elem.title }}
        </p>
        {% else %}
          <p class = 'nav-links'>
            <a href="{% url elem.url %}">{{ elem.title }}</a>
        </p>
        {% endif %}
        {% endfor %}
        <p class = 'nav-links'>
        <a href="{% url "users:login" %}"> <img src="{% static 'blog/images/profile.svg' %}" alt="login" class="profile "></a>
      </p>
      </div>
    {% block content %}
    {% endblock %}
    {% block navigation %}
    {% endblock %}
</div>
</body>
</html>
