{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'petblog/images/favicon.svg' %}">

    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
<div class="container">
   <div class="navbar">
  <img src="{% static 'blog/images/logo.svg' %}" alt="Logo" class="logo">

  {% for elem in main_menu %}
    {% if elem.url == menu_selected %}
      <p class='nav-links-active'>
        {{ elem.title }}
      </p>
    {% else %}
      <div  id="nav-link">
        <a href="{% url elem.url %}">{{ elem.title }}</a>
      </div>
    {% endif %}
  {% endfor %}

  <div class="profile-container">
    <a href="#" class="profile-icon">
      <img src="{% static 'blog/images/profile.svg' %}" alt="login" class="profile">
    </a>
    <div class="dropdown-menu">
      <a href="{% url 'users:register' %}" class="dropdown-item">Реєстрація</a>
      <a href="{% url 'users:login' %}" class="dropdown-item">Вхід</a>
      <a href="{% url 'users:profile' %}" class="dropdown-item">Профіль</a>
    </div>
  </div>
</div>

    {% block content %}
    {% endblock %}
    {% block navigation %}
    {% endblock %}
</div>

</body>
</html>
