/* Загальні стилі для сторінки */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  overflow: scroll;
}

/* Стилі для навігаційного меню */

.navbar {
  width: 100%;
  height: 80px;

  margin-top: 0px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#nav-link {
  
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 23px;
}
#nav-link a{
  color: #f4f4f4;
  text-decoration: none;
}

.nav-links-active{
 display: flex;
  align-items: center;
  font-size: 23px;
  text-decoration: underline;
  color: white
}

.navbar a:hover {
  color: grey;
  text-decoration: underline;
  transition: background-color 0.3s ease, color 0.3s ease,
    text-decoration 0.3s ease;
}

.posts-container {
  border: black solid 2px;
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  
}
.post-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.post-last {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.read-button {
  font-size: 20px;
  align-self: end;
  color: rgba(0, 0, 0, 0.692);
  text-decoration: none;

  border-radius: 6px;
  padding: 5px;
  margin-right: 70px;
  transition: background-color 0.3s ease, color 0.3s ease,
    text-decoration 0.3s ease;
  width: fit-content;
}

.read-button:hover {
  color: white;
  background-color: black;
  transition: background-color 0.3s ease, color 0.3s ease,
    text-decoration 0.3s ease;
}

.main-label {
  margin-left: 20px;
  text-decoration: underline;

  padding-top: 30px;
}

.logo {
  width: 35px;
  margin-right: 100px;
}

.profile {
  width: 30px;
}

.post-title {
  font-size: 32px;
}

.content-text {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}

.cats-container {
  margin: 70px 0px 100px 0px;
  width: 50;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cats-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cats-link {
  font-size: 25px;
  text-decoration: none;
  color: rgb(100, 100, 100);
  height: fit-content;
}

.cats-link:hover {
  transition: background-color 0.3s ease, color 0.3s ease,
    text-decoration 0.3s ease;
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.cats-link-selected {
  font-size: 25px;
  text-decoration: underline;
  color: black;
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.post-page-title {
  font-size: 50px;
  padding-bottom: 50px;
}

.post-page-content {
  font-size: 30px;
}

.content-container {
  width: 95%;
  border-top: 1px black solid;
  padding-top: 100px;
  margin-bottom: 200px;
}

.title-container {
  margin-left: 100px;
  margin-top: 100px;
}

.post-time {
  font-size: 22px;
  color: gray;
}
.time-container{
width: 95%;
display: flex;
flex-direction: row;
justify-content: end;
}
.title-date-cat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-cat{
  margin-right: 80px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  color: gray;
  gap: 30px;
  font-size: 20px;
  align-items: center;
}

.no-posts{
  font-size: 25px;
  margin-left: 40px;
}

.tag-container-col{
  display: flex;
  flex-direction: column;
  width: 50;
  flex-wrap: wrap;
}

.tag-link{
  font-size: 22px;
  text-decoration: none;
  color: rgb(79, 78, 78);
  height: fit-content;
}


.tag-link:hover {
  transition: background-color 0.3s ease, color 0.3s ease,
    text-decoration 0.3s ease;
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.tag-cat-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.tag-title{
  font-size: 25px;
  color: black;
}

.tag-title-left{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.tag-link-selected{
  font-size: 22px;
  color: rgb(79, 78, 78);
  height: fit-content;
  text-decoration: underline;
}

.tags-container{
display: flex;
width: 500px;
gap:20px;
flex-wrap: wrap;
flex-direction: row;
}

.post-tag{
  width: fit-content;
  text-decoration: none;
  font-size: 22px;
  color: gray;
  
}

.post-tag:hover{

  color: black;
}

.post-tag-sign{
  font-size: 22px;
  color: gray;
  
}

.addpost-form-container{
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: center;

}

.addpost-form{
  position: static;
  width: fit-content;
}
.form-error{
  color: red;
  position: relative;
  width: 300px;
  list-style-type: none;
}
.errorlist{ list-style-type: none;}


.file-form{
width:100%;
flex-direction:column;
display:flex;
align-items:center;
justify-content: canter
}

.post-image-small{
  width: 300px;
  left: 10px;
}

.post-image-big{
  width: 500px;
  float: left;
  padding:0px 30px 30px 0px;
}

/* Загальний стиль для навігації */
.list-pages {
  display: flex;
  justify-content: center; /* Центрує меню на сторінці */
  padding: 0;
  margin: 0px 0px 100px 0px;
  list-style: none;

}

/* Стиль для елементів списку */
.list-pages ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Стиль для окремих сторінок */
.list-pages .page-num {
  margin: 0 5px; /* Відступи між кнопками */
}

/* Стиль для посилань */
.list-pages .page-num a {
  text-decoration: none; /* Забирає підкреслення з посилань */
  color: #333; /* Колір тексту */
  padding: 8px 12px; /* Внутрішні відступи */
  border: 1px solid #ddd; /* Сірий обводка */
  border-radius: 4px; /* Закруглені кути */
  transition: background-color 0.3s, color 0.3s; /* Анімація для фону і кольору тексту */
}

/* Стиль для посилання при наведенні */
.list-pages .page-num a:hover,
.list-pages .page-num a:focus {
  background-color: #f0f0f0; /* Колір фону при наведенні */
  color: #000; /* Колір тексту при наведенні */
  border-color: #ccc; /* Колір обводки при наведенні */
}

/* Стиль для активної сторінки */
.list-pages .page-num a.active {
  background-color: #333; /* Темний фон для активної сторінки */
  color: #fff; /* Білий текст для активної сторінки */
  border-color: #333; /* Темна обводка для активної сторінки */
}

.user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-title{
  width: 200px;

}
.info-line{
  width: 500px;
  display: flex;
  flex-direction: row;
}
.info-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout-button{
  width: 100px;
  margin-right: 100px;
border-radius: 10px;
margin-top: 50px;
}

.logout-button a{
text-decoration: none;
}

.form-label{
  margin-right: 30px;
}

.author-container{
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 50px;
  font-size: 20px;

}

.author-container p{
  color: gray;
}

.title-container-main{
  width: 400px;
}

.profile-container {
  position: relative;
  display: inline-block;
  margin-top:25px
}

.dropdown-menu {
  display: none;
  position: absolute;

  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profile-container:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.change-password_container{
  text-align: center;
  text-decoration: none;

}
.change-password_container:hover a{
  text-decoration: underline;
  color: gray;
}
.change-password_container a{
  text-decoration: none;
  color: #000;
}

.reset-password-container{
  margin-left: 100px;
  margin-top: 50px;
  font-size: 20px;
}