{% extends 'base.html' %}


{%block content%}<h1 class='main-label'>{{title}}</h1>
<div class="align-content">


 <div class="main-content">
        <h2>Ласкаво просимо на наш блог!</h2>
        <p>Наш сайт створений для тих, хто хоче поділитися своїми думками, ідеями та знаннями з іншими. Ми віримо, що кожна особа має унікальну перспективу і цінний досвід, який варто поділитися.</p>

        <h2>Наша Місія</h2>
        <p>Наша місія — створити платформу, де кожен може публікувати статті на будь-яку тему, яка їх цікавить. Ми прагнемо забезпечити просте і зручне середовище для написання і читання статей. Незалежно від того, чи ви досвідчений автор, чи просто хочете поділитися своїми думками, ви знайдете тут можливість висловитися.</p>

        <h2>Як Це Працює</h2>
        <ul>
            <li><strong>Реєстрація:</strong> Створіть обліковий запис на нашому сайті, щоб отримати доступ до всіх функцій.</li>
            <li><strong>Додайте статтю:</strong> Після реєстрації ви зможете додавати свої статті, редагувати їх і публікувати.</li>

        </ul>

        <h2>Наші Цінності</h2>
        <ul>
            <li><strong>Спільнота:</strong> Ми віримо в силу спільноти і прагнемо створити середовище, де кожен може бути вислуханим.</li>
            <li><strong>Інклюзивність:</strong> Ми приймаємо різноманітність поглядів і переконані, що кожен має право на власну думку.</li>
        </ul>

        <div class="contact-info">
            <h2>Як Зв'язатися З Нами</h2>
            <p>Якщо у вас є питання, пропозиції або ви просто хочете зв'язатися з нами, будь ласка, не вагайтеся звернутися через нашу електронну пошту(<a href="mailto:denys.hubenko.ik.2022@lpnu.ua">denys.hubenko.ik.2022@lpnu.ua</a>
 ). Ми завжди відкриті до зворотного зв'язку і готові допомогти.</p>
            <p>Дякуємо, що ви з нами!</p>
        </div>
    </div>
</div>
{%endblock%}





