{% extends 'base.html' %} {% load blog_tags %} {%block content%}

<h1 class="main-label">{{title}}</h1>
{%get_categories as categories%}

<div class="cats-container">
  {% for cat in categories%}
  <a class="cats-link" href="{%url "category" cat.id %}">{{cat.name}}</a>
  {%endfor%}
</div>

<div class="posts-container">
  {% for post in posts%} {% if post.is_published %}
  <div class="post">
    <h2 class="post-title">{{post.title}}</h2>
    <p class="content-text">{{post.content|truncatewords:25}}</p>
    <a class="read-button" href="{%url 'post' post.id%}">Читати статтю</a>
    {% if post.is_published and not forloop.last %}
    <hr />
    {%endif%}
  </div>
  {%endif%} {%endfor%}
</div>

{%endblock%}
