{% extends 'base.html' %}
{% load blog_tags %}

{% block content %}
<form method="GET" action="{% url 'article_search' %}" class="search-form" onsubmit="return validateSearch()">
    <input type="text" name="q" placeholder="Пошук статей..." class="search-input" id="search-input">
    <button type="submit" class="search-button">Шукати</button>
</form>

<script>
    function validateSearch() {
        var query = document.getElementById('search-input').value.trim();
        if (query === "") {
            alert("Будь ласка, введіть запит для пошуку.");
            return false;
        }
        return true;
    }
</script>

<h1 class="main-label">{{ title }}</h1>

<div class="tag-cat-container">
  <div class="cats-container-center">
    <div class="cats-container">{% show_categories cat_selected %}</div>
  </div>
  <div class="tag-container-col">
    <div class="tag-cont">{% show_all_tags tag_selected %}</div>
  </div>
</div>

{% if posts %}
<div class="posts-container">
  {% for post in posts %}
    {% if not forloop.last %}
    <div class="post">
    {% else %}
    <div class="post-last">
    {% endif %}
      {% if post.image %}
      <img src="{{ post.image.url }}" class="post-image-small" />
      {% endif %}
      <div class="post-text">
        <div class="title-date-cat">
          <div class="author-container">
            <div class="title-container-main">
              <h2 class="post-title">{{ post.title|truncatechars:30|capfirst }}</h2>
            </div>
            <p>{{ post.author.username|default:"Невідомий" }}</p>
          </div>
          <div class="date-cat">
            <p>{{ post.category }}</p>
            <p>|</p>
            <p>{{ post.time_create|date:"d-m-Y" }}</p>
          </div>
        </div>
        <div class="content-text">{{ post.content|slice:":500"|truncatewords:25|safe }}</div>
        <a class="read-button" href="{{ post.get_absolute_url }}">Читати більше</a>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
<div class="no-posts">Немає статей на цю тему</div>
{% endif %}
{% endblock %}

{% block navigation %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
  <ul>
    {% if page_obj.has_previous %}
    <li class="page-num">
      <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
    </li>
    {% endif %}
    {% for p in paginator.page_range %}
      {% if p == page_obj.number %}
      <li class="page-num">
        <a class="active">{{ p }}</a>
      </li>
      {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 or p == 1 or p == paginator.page_range|last %}
      <li class="page-num">
        <a href="?page={{ p }}">{{ p }}</a>
      </li>
      {% elif p == page_obj.number|add:-3 or p == page_obj.number|add:3 %}
      <li class="page-num page-num-active">...</li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-num">
      <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
