{% extends 'base.html' %} {%block content%}
<h1 class="main-label">Авторизація</h1>
<div class="addpost-form-container">
  {%if user.is_authenticated%}
  <div class="user-info">
    <div class="info-line">
      <div class="info-title">
        <h4>Ім'я користувача:</p>
      </div>
      <div class="info-content">
      <p>{{user.username}}</p>
    </div>
    </div>
    <div class="user-info">
      <div class="info-line">
        <div class="info-title">
          <h4>email:</p>
        </div>
        <div class="info-content">
        <p>{{user.email}}</p>
      </div>
    </div>
  <form style="display:inline-block" method="post" action="{% url 'users:logout' %}">
{% csrf_token %}
<button type="submit">Вийти</button></form>
  
      
    </div>

    {%else%}
    <div class = 'addpost-form'>
    <form method="post">
        {%csrf_token%}
        <div class='form-error'>{{form.non_field_errors}}</div>
  {%for f in form%}
  <p><label class='form-label' for '{{f.id_for_label}}'>{{f.label}}</label>{{f}}</p>
  <div class='form-error'>{{f.errors}}
  </div>
  {%endfor%}
      <p><button type="submit">Увійти</button></p>
    </form>
    {%endif%}
  </div>
</div>

  {%endblock%}

